div(id="closePopupDeleteUserFromChat" class=`popup-delete-user-background${isOpened ? "" : " hidden"}`)
  section(class="popup-delete-user-form")
    section(id="deleteUserFromChat")
      UsersListComponent(data="usersList")
      if !usersList.users.length
        span(class="popup-delete-user-form__empty-text")='There are no users in the chat'
    button(type="button" id="closeDeleteUserPopup" class="popup-delete-user-form__cross-icon")
      include ../../../../static/assets/icons/cross.svg
