@import '../../../static/styles/variables.scss';

ul li {
  margin-bottom: 15px;
  padding-left: 20px;
}

ul a {
  font-family: $basic-font-family;
  text-decoration: none;
  font-size: 18px;
}

ul a:hover {
  text-decoration: underline;
}
