div(class=`spinner-background${isLoading ? "" : " hidden"}`)
  div(class=`spinner-container${isLoading ? " spinner-container--active" : ""}`)
    span(class="spinner__item spinner__item_1")
    span(class="spinner__item spinner__item_2")
    span(class="spinner__item spinner__item_3")
