section(class="ellipsis-menu-section")
  div(class='ellipsis-menu-item')
    include ../../../../static/assets/icons/add-user.svg
    span(class="ellipsis-menu-item__text" id="addUser")="Add user"
  div(class='ellipsis-menu-item')
    include ../../../../static/assets/icons/delete-user.svg
    span(class="ellipsis-menu-item__text" id="deleteUser")="Delete user"
