extends ../components/html-head/html-head.pug

block title
    title='Chatly - 500 error page'
block links
    link(rel="stylesheet", href="500.scss")

block content
    section.error-section
        a(href="../chat/chat.pug")
            include ../../../static/assets/icons/arrow-back.svg
            span(class="error-section__text")="Back to the chats"
        img(class="error-section__img" src="../../../static/assets/img/500.png" alt="Error 500")
