extends ../components/html-head/html-head.pug

block title
    title='Chatly - online chat'
block links
    link(rel="stylesheet", href="chat.scss")

block content
    h1="Chat page stub"
    script(type="module" src="chat.js")
