section.chat-card
    AvatarComponent(data="avatar" class="chat-card__avatar")
    div.chat-card__content
        h3(class="chat-card__name")=authorName
        if textMessage
            p(class="chat-card__text")=textMessage
    div.chat-card__addons
        TimeComponent(data="time" class="chat-card__time")
        if messageCount
            span(class="chat-card__count")=messageCount
