div.form-container
    form(class="form" id="form-profile")
        a(href="../chat" class="arrow-back")
            include ../../../static/assets/icons/arrow-back.svg
        h1="Your profile"
        hr.line
        textInputComponent1
        textInputComponent2
        textInputComponent3
        textInputComponent4
        emailInputComponent
        phoneInputComponent
        div(class="form__button-container")
            errorMessageComponent1
            formButtonComponent1
    form(class="form form--relative" id="form-password")
        a(href="../signin" class="form__escape-icon")
            include ../../../static/assets/icons/escape.svg
        button(type="button" class="avatar-button")
            span(class="avatar-button__text")="Change avatar"
        hr.line
        passwordInputComponent1
        passwordInputComponent2
        passwordInputComponent3
        div(class="form__button-container")
            errorMessageComponent2
            formButtonComponent2
