div.form-container
    form(class="form" id="form-profile")
        a(href="#" id="goToChat" class="arrow-back")
            include ../../../static/assets/icons/arrow-back.svg
        h1="Your profile"
        hr.line
        textInputComponent1
        first_nameErrorMessage
        textInputComponent2
        second_nameErrorMessage
        textInputComponent3
        textInputComponent4
        loginErrorMessage
        emailInputComponent
        emailErrorMessage
        phoneInputComponent
        phoneErrorMessage
        formButtonComponent1
    form(class="form form--relative" id="form-password")
        a(href="#" id="logout" class="form__escape-icon")
            include ../../../static/assets/icons/escape.svg
        button(type="button" class="avatar-button")
            span(class="avatar-button__text")="Change avatar"
        hr.line
        passwordInputComponent1
        oldPasswordErrorMessage
        passwordInputComponent2
        passwordErrorMessage
        passwordInputComponent3
        newPasswordErrorMessage
        formButtonComponent2
