div.form-container
    form(class="form" id="form-profile")
        a(href="../chat/chat.pug" class="arrow-back")
            include ../../../static/assets/icons/arrow-back.svg
        h1="Your profile"
        hr.line
        TextInput1
        TextInput2
        TextInput3
        TextInput4
        EmailInput
        PhoneInput
        div(class="form__button-container")
            ErrorMessage1
            FormButton1
    form(class="form form--relative" id="form-password")
        a(href="../signin/signin.pug" class="form__escape-icon")
            include ../../../static/assets/icons/escape.svg
        button(type="button" class="avatar-button")
            span(class="avatar-button__text")="Change avatar"
        hr.line
        PasswordInput1
        PasswordInput2
        PasswordInput3
        div(class="form__button-container")
            ErrorMessage2
            FormButton2
