extends ../components/html-head/html-head.pug

block title
    title='Chatly - 404 error page'
block links
    link(rel="stylesheet", href="404.scss")

block content
    section.error-section
        a(href="../chat/chat.pug")
            icon(id="arrow-back" class="error-section__arrow-back-icon")
            span="Back to the chats"
        img(class="error-section__img" src="../../../static/assets/img/404.png" alt="Error 404")
    script(type="module" src="404.js")
