@import '../../../static/styles/styles';
@import '../../../static/styles/colors';
@import '../../components/inputs/input-styles';

#app {
  .form {
    max-width: 100%;
    width: 414px;
    margin: 0 auto;
    padding: 33px;
    border-radius: 20px;
    background: $background-color;

    &__error-text {
      position: absolute;
    }
  }
}
