form(class="form" id="form")
    a(href="#" id="goToSignIn" class="arrow-back")
        include ../../../static/assets/icons/arrow-back.svg
    h1="Sign up"
    hr.line
    textInputComponent1
    first_nameErrorMessage
    textInputComponent2
    second_nameErrorMessage
    textInputComponent3
    loginErrorMessage
    emailInputComponent
    emailErrorMessage
    phoneInputComponent
    phoneErrorMessage
    passwordInputComponent1(class="mb-5")
    passwordErrorMessage
    passwordInputComponent2(class="mb-5")
    passwordAgainErrorMessage
    formButtonComponent
