form(class="form" id="form")
    a(href="../signin" class="arrow-back")
        include ../../../static/assets/icons/arrow-back.svg
    h1="Sign up"
    hr.line
    textInputComponent1
    textInputComponent2
    textInputComponent3
    emailInputComponent
    phoneInputComponent
    passwordInputComponent1
    passwordInputComponent2
    div(class="form__button-container")
        errorMessageComponent
        formButtonComponent
