form(class="form" id="form")
    a(href="../signin/signin.pug" class="arrow-back")
        include ../../../static/assets/icons/arrow-back.svg
    h1="Sign up"
    hr.line
    TextInput1
    TextInput2
    TextInput3
    EmailInput
    PhoneInput
    PasswordInput1
    PasswordInput2
    div(class="form__button-container")
        ErrorMessage
        FormButton
