form(class="popup-add-user-form" id="formAddUserToChat")
  TextInputComponent(data="userIdInput")
  FormButtonComponent(data="addUserToChatButton")
  button(type="button" id="closeAddUserPopup" class="popup-add-user-form__cross-icon")
    include ../../../../static/assets/icons/cross.svg
