@import "../../../../static/styles/colors";
@import "../../../../static/styles/variables";

.popup-add-user {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb($black, 75%);

  &-form {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 43px 70px;
    border-radius: 20px;
    background-color: $white;

    &__cross-icon {
      display: inline-flex;
      position: absolute;
      top: 25px;
      left: 25px;
      border: none;
      padding: 0;
      background-color: transparent;
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: rotate(90deg);
        cursor: pointer;
      }
    }
  }
}
