section(class=`message ${you ? 'message--you' : ''}`)
    AvatarComponent(data="avatar" class="message__avatar")
    div(class="message__card")
        p(class="message__text")=text
        TimeComponent(data="time" class="message__time")
